<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kwong.bishe.persistence.client.MovieMapper" >

<sql id="baseColumn">
	  id ,
	 name,
	 uploadyear
</sql>

 <select id="queryOne" resultType = "Movie">
	 select
	<include refid="baseColumn"></include>
	 from MOVIE
	 <where>
		 <if test="id!=null">
			 and id = #{id}
		 </if>

	 </where>

 </select>

	<insert id="insertOne"  parameterType= "Movie">
		insert into MOVIE(<include refid="baseColumn"></include> )
		VALUES(
		#{id},
		#{name},
		#{uploadyear}
		)
	</insert>
</mapper>